
body {
  font-family: sans-serif;
  background-color: beige;
  line-height: 2rem;
}

.layout {
  max-width: 100%;
  padding: 1rem;
}

p {
  font-size: 1.125rem;
}

.layout svg.chart {
  max-width: 100%;
}

.chart {
  border: 1px solid black;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000010;
  border-radius: 0.5rem;
  color: white;
  background-color: #000018;
  margin-bottom: 1rem;
}

.button:focus, .button:hover {
  outline: none;
  background-color: orange;
  color:white;
}

