
:root {
  --pine-green: #077675;
  --pear: #cce335;
  --highlight: orange;
  --active-bg: #282c34;
}

body {
  font-family: sans-serif;
  background-color: beige;
  line-height: 2rem;
}

.layout {
  max-width: 100%;
  padding: 1rem;
}

p {
  font-size: 1.125rem;
}

.layout svg.chart {
  max-width: 100%;
}

.chart {
  border: 1px solid black;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #000010;
  border-radius: 0.5rem;
  color: white;
  background-color: #000018;
  margin-bottom: 1rem;
}

.button:focus, .button:hover {
  outline: none;
  background-color: var(--highlight);
  color:white;
}

/* view source link */
.github-text {
  transform: rotate(45deg);
  fill: var(--active-bg);
  
}
.github-corner {
  fill: var(--active-bg);
}
.github-corner:focus,
.github-corner:hover  {
  fill: var(--highlight);
}

.github-corner:focus .github-text,
.github-corner:hover .github-text {
  fill: var(--highlight);
}
.octocat{
  color: white; 
  position: absolute; 
  top: 0; 
  border: 0; 
  right: 0;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}
}
  
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}
